.shopping-cart {
  margin: 20px 0;
  background: white;
  width: 270px;
  position: absolute;
  border-radius: 3px;
  left: 0;
  z-index: 9999;
  display: none;
  bottom: -370px;
  border-top: 2px solid #4d8781;
}
.shopping-cart .shopping-cart-header {
  /* border-bottom: 1px solid #E8E8E8; */
  padding-bottom: 15px;
}

.shopping-cart .shopping-cart-items {
  padding-top: 20px;
  height: 200px;
  overflow-y: scroll;
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}
/* .shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
} */
.shopping-cart .shopping-cart-items .item-name {
  display: block;
  /* padding-top: 10px; */
  font-size: 13px;
}
.shopping-cart .shopping-cart-items .item-price {
  color: red;
  margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
  color: green;
}
.shopping-cart:after {
  bottom: 100%;
  left: 12%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
 border-width: 10px;
    margin-left: -8px;
}
.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}
.shopping-cart::before {
    bottom: 100%;
    left: 11%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #4d8781;
    border-width: 13px;
    margin-left: -8px;
    /* border-right: 1px solid green; */
}
.shopping-cart.user {
    width: 227px;
    bottom: -166px;
}
.shopping-cart.user::before{
    left: 30%;
}
.shopping-cart.user:after{
    left: 31%;
}
.shopping-cart.search {
    width: 310px;
    bottom: -96px;
}
.shopping-cart.search:after {
    right: 38%;
}
.shopping-cart.search::before{
    right: 37%;
}
.shopping-cart.user.not-login{
    bottom: -65px;
}
@media (max-width:992px) {
.shopping-cart{
    position: fixed;
    top: 62px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
}
.navbar-brand img{
    width: 80px !important;
}
.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}
.navbar-light .navbar-toggler{
    padding: 3px 9px;
}
.whatsapp div {
    width: 40px;
    height: 40px;
    padding-top: 6px;
}
.whatsapp {
    right: 20px;
    width: 55px;
    height: 54px;
    bottom: 15px;
    padding: 5px;
    border: 1px solid #25d366;
}
.whatsapp img {
    width: 23px;
}
.cart-btn img, .user-btn img{
    width: 20px;
}
.shopping-cart.user{
    width: 100%;
}
.shopping-cart::before{
    left: 26px;
}
.shopping-cart::after{
    left: 29px;
}

.shopping-cart.user:after{
    left: 66px;
}
.shopping-cart.user{
    position: absolute;
}
.shopping-cart.user::before{
    left: 63px;
}
.shopping-cart .btn-success{
    position: relative;
    bottom: 0;
}
.shopping-cart .shopping-cart-items {
    height: calc(100% - 164px);
}
.progress-circle{
    margin-top: -1px;
}
.top img{
    height: 275px;
}
}






